@import url(//db.onlinewebfonts.com/c/6633a78ec47bc270550144ed9f284036?family=FF+Mark);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9;
  font-family: "FF Mark";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper-screen {
  height: 100%;
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(400px, 400px) auto;
      grid-template-columns: minmax(400px, 400px) auto;
}

.wrapper-screen .right-side {
  background: #f9f9f9;
  padding: 50px 55px;
  min-height: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-screen .right-side .header .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-screen .right-side .header .__logo {
  width: 70px;
}

.wrapper-screen .right-side .header .sub_title {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.wrapper-screen .right-side .header .pop_up {
  background: #b2b2b2;
  color: #fff;
  border-radius: 50%;
  width: 16px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  height: 16px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-screen .right-side .body .wrapper_inputs .control-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 15px;
}

.wrapper-screen .right-side .body .wrapper_inputs .control-input input {
  width: 100%;
  border: solid transparent 2px;
  padding: 16px 38px 5px 8px;
  font-family: "FF Mark";
  background: #ededed;
  color: #000;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.wrapper-screen .right-side .body .wrapper_inputs .control-input input:hover {
  background: #e5e5e5;
}

.wrapper-screen .right-side .body .wrapper_inputs .control-input input:focus {
  background: #f9f9f9;
  border-color: #000;
}

.wrapper-screen .right-side .body .wrapper_inputs .control-input input:focus ~ .see-pass {
  opacity: 1;
  z-index: 1;
}

.wrapper-screen .right-side .body .wrapper_inputs .control-input input:focus ~ .__label, .wrapper-screen .right-side .body .wrapper_inputs .control-input input:valid ~ .__label {
  top: 12px;
  font-size: 8px;
  left: 10px;
}

.wrapper-screen .right-side .body .wrapper_inputs .control-input .see-pass {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}

.wrapper-screen .right-side .body .wrapper_inputs .control-input .see-pass:hover {
  opacity: 1;
  z-index: 1;
}

.wrapper-screen .right-side .body .wrapper_inputs .control-input .__label {
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #999999;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.wrapper-screen .right-side .body .wrapper_inputs .container-check {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #999999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper-screen .right-side .body .wrapper_inputs .container-check .label {
  -webkit-transition: .1s all ease;
  transition: .1s all ease;
}

.wrapper-screen .right-side .body .wrapper_inputs .container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.wrapper-screen .right-side .body .wrapper_inputs .container-check input:checked ~ .checkmark:after {
  display: block;
}

.wrapper-screen .right-side .body .wrapper_inputs .container-check input:hover ~ .checkmark {
  background: #e8e8e8;
}

.wrapper-screen .right-side .body .wrapper_inputs .container-check input:checked ~ .checkmark {
  background-color: #d13639;
}

.wrapper-screen .right-side .body .wrapper_inputs .container-check input:checked ~ .label {
  color: #000;
}

.wrapper-screen .right-side .body .wrapper_inputs .container-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #ededed;
  border-radius: 3px;
  -webkit-transition: .1s all ease;
  transition: .1s all ease;
}

.wrapper-screen .right-side .body .wrapper_inputs .container-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.wrapper-screen .right-side .body .wrapper_inputs .container-check .checkmark:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg) scale(0.7);
          transform: rotate(45deg) scale(0.7);
}

.wrapper-screen .right-side .body .wrapper_button {
  text-align: center;
  margin: 55px 0 60px 0;
}

.wrapper-screen .right-side .body .wrapper_button .__login {
  border: solid 2px #e9e9e9;
  outline: none;
  font-size: 25px;
  padding: 15px 18px;
  border-radius: 20px;
  color: #e9e9e9;
  background: #f9f9f9;
  cursor: not-allowed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .1s all ease;
  transition: .1s all ease;
}

.wrapper-screen .right-side .body .wrapper_button .__login.__checked {
  border: solid 2px #d13639;
  background: #d13639;
  cursor: pointer;
}

.wrapper-screen .right-side .body .wrapper_button .__login.__ckecked:hover {
  background: #b1282b;
  border-color: #b1282b;
}

.wrapper-screen .right-side .body .wrapper_button .__login.__checked:active {
  background: #982325;
  border-color: #982325;
}

.wrapper-screen .right-side .body .wrapper_button .__login i {
  font-weight: bold;
}

.wrapper-screen .right-side .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.wrapper-screen .right-side .footer .ex9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
}

.wrapper-screen .right-side .footer .ex3 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10 / 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-screen .right-side .footer .__text {
  line-height: 15px;
  text-transform: uppercase;
  color: #b2b2b2;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 800;
  width: 100%;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  display: block;
  text-decoration: none;
}

.wrapper-screen .right-side .footer .__text.version {
  text-align: right;
}

.wrapper-screen .right-side .footer .__text.version:hover {
  color: #848484;
}

.wrapper-screen .right-side .footer .__text:hover {
  color: #000;
  cursor: pointer;
}

.wrapper-screen .left-side {
  background-image: url("./statics/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */